<ion-view>
  <ion-header-bar class="bar-stable">
    <h1 class="title">Ionic Blank Starter</h1>
  </ion-header-bar>
  <ion-content>
    <div>
      <button class="button" ng-click="fileupload()">Upload</button>
      <button class="button" ng-click="getTouchposition()">Add sign</button>
    </div>
      <!-- <img src="img/ionic.png"  on-double-tap="touchFunction()" id="img1"> -->
      <!-- <img src="http://n2.transparent.sg:3000/assets/signatures/4195694393tasignimage.jpg" style="width: 20%;" id="img2" > -->
<!--       <iframe ng-src="http://n2.transparent.sg:3000/assets/pdfs/loos/1443509865855_23loo.pdf" on-double-tap="touchFunction()" style="width: 100%; height: 250px"></iframe> -->
      
<!-- <ion-scroll direction="xy" ng-if="!hide" style="margin-top: 20%;display:inline;top:42px;right:0;bottom:0;left:0;">
      <pdf-viewer delegate-handle="my-pdf-container"  url="pdfUrl"
      ></pdf-viewer>
    </ion-scroll>
        <p>with sigh<br><canvas id="canvas"></canvas></p> -->
  </ion-content>
</ion-view>