<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>
    <script src="js/ng-cordova.min.js"></script>
    <script src="lib/angular-pdf-viewer/pdf.js"></script>
    <script src="lib/angular-pdf-viewer/angular-pdf-viewer.min.js"></script>
    <script src="https://cdn.rawgit.com/szimek/signature_pad/master/signature_pad.js"></script>
    <script src="https://cdn.rawgit.com/ecentinela/ng-signature-pad/master/dist/ng-signature-pad.js"></script>
    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/controller.js"></script>
  </head>
  <body ng-app="starter">

    <ion-pane>
      <ion-header-bar class="bar-stable">
        <h1 class="title">Ionic Blank Starter</h1>
      </ion-header-bar>
      <ion-content scroll="false" ng-controller="canvasController">
      <div>
        <button class="button" ng-click="upload()">Upload</button>
        <button class="button" ng-click="getTouchposition()">Add sign</button>
        <button class="button" ng-click="merge()" style="z-index: 99;">MERGE</button>
      </div>
      <div>
        <button class="button button-small button-energized" style="z-index: 99;" ng-click="openPrevPage()"><</button>
        <button class="button button-small button-energized" style="z-index: 99;" ng-click="openNextPage()">></button>
        <button class="button button-small button-energized" ng-click="zoomIn()">+</button>
        <button class="button button-small button-energized" ng-click="zoomOut()">-</button>
      </div>
      
      <!-- <img src="img/ionic.png"  on-double-tap="touchFunction()" id="img1"> -->
      <!-- <img src="http://n2.transparent.sg:3000/assets/signatures/4195694393tasignimage.jpg" style="width: 20%;" id="img2" > -->
      <!--       <iframe ng-src="http://n2.transparent.sg:3000/assets/pdfs/loos/1443509865855_23loo.pdf" on-double-tap="touchFunction()" style="width: 100%; height: 250px"></iframe> -->
      <ion-scroll direction="xy" ng-hide="hide" style="margin-top: 20%;display:inline;top:42px;right:0;bottom:0;left:0;">
      <pdf-viewer delegate-handle="my-pdf-container"  url="pdfUrl" scale="0.670" ></pdf-viewer>
    </ion-scroll>
        <p ng-hide="true">with sigh<br><canvas id="canvas"></canvas></p>
        <p ng-hide="hide">with  sigh<br><canvas id="canvas1"></canvas></p>
        <canvas id="canvas3"></canvas>
      </ion-content>
    </ion-pane>
  </body>
</html>
